* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
}

header {
  background-color: #1e90ff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 21px;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding-left: 40px;
}

.menu-toggle {
  display: none;
}

/* section */

.main {
  background-image: url("https://i.pinimg.com/originals/d7/ca/ae/d7caae08063392f75323e4f8feb8cfc6.gif");
  background-size: cover;
  height: 500px;
  width: 100%;
  z-index: 1;
  background-position: center center;
}

.section-1 {
  margin-top: 30px;
  background-color: whitesmoke;
}

.slider-container {
  margin: 50px 30px 0px 30px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.section-1 {
  text-align: center;
  padding-top: 20px;
  font-size: 1.5rem;
  color: #1e90ff;
}

.slider img {
  width: 100%;
  height: 50%;
}

.slider-text {
  position: relative;
  color: black;
  width: 100%;
  padding: 30px;
}

.slider-text h3 {
  color: #1e90ff;
  margin: 0px;
  font-size: 24px;
}

.slider-text p {
  margin: 5px 0 0;
  font-size: 18px;
  height: 40px;
  overflow-y: hidden;
}
.buy-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #1e90ff;
  color: white;
  border: #1e90ff;
  border-radius: 20px;
}

/* footer section */
.footer {
  position: absolute;
  justify-content: center;
  width: 100%;
  background-color: #1e90ff;
  min-height: 300px;
}

.Socail-link {
  text-align: center;
  margin-top: 50px;
  color: white;
}

.Socail-link a,
i {
  text-decoration: none;
  margin-top: 30px;
  color: white;
  padding-left: 20px;
  font-size: 30px;
}

/* available-products */
.search form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
}

.search form input {
  width: 40%;
  padding: 4px;
  margin: 3rem 0;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #1e90ff;
}

#available-products {
  margin: 2rem;
}
#available-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 80px;
}

.card img {
  width: 80%;
  height: 60%;
}

.card h2 {
  color: #1e90ff;
  margin: 10px;
  font-size: 24px;
}

.card p {
  margin: 5px 0 0;
  font-size: 18px;
  height: 50px;
  overflow-y: hidden;
  padding: 10px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 25px;
  }

  nav {
    display: none;
  }

  nav.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 122px;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: white;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin: 20px 0;
  }

  nav li a {
    color: black;
  }

  .search form input {
    width: 100%;
    margin: 2rem;
  }
}
